body {
    background: #f2eecb;
}

li {
    margin: 15px;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    color: red;
}
  
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 8px;
  }
